*{
    font-family: play;
   
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    letter-spacing:0.2px;
    margin-bottom: 30px;
    text-indent: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;    
}
.box .inputBox label{
    position:absolute;
    top: 0%;
    left: 0%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
}
.box .inputBox input:focus ~ label, .box .inputBox input:valid ~ label{
    top: -35px;
    left: 0%;
    font-weight: bold;
    font-size: 14px;
    color: rgb(2, 77, 18);
}
.box input[type='submit']{
    background: transparent;
    color: rgb(145, 2, 2);
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 200px;
    margin-top: 15px;
    border: 3px solid rgb(15, 71, 1);
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 1);
}
.myvalues{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.tex1{
    top:0px;
}
.inbox{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 400px;
  }
  .c1{
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    align-items: center;
  }